* {
    padding: 0;
    margin: 0;
}

#container {
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    margin: 0;
    padding: 0;

}

/*  header */
#header {
    height: 80px;
    background-image: url(img/t%C5%82o.PNG);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#fb {
    float: left;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 520px;
}

#logo {
    float: right;
    width: 250px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 120px;


}

#yt {
    float: left;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 270px;
}

#film {
    float: left;
    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 510px;
}

#pojemnik_na_tryb {}

#Tryb_nocny_dzienny {
    color: snow;
    text-align: center;
    float: left;
    position: relative;
    top: 24px;
    left: 190px;
    font-family: 'Montserrat', sans-serif;
}

.napis_tryb_nocny_dzienny {
    position: relative;
    left: 80px;
    bottom: 52px;
    font-size: 20px;
    
}

.napis_tryb_nocny_dzienny2 {
    position: relative;
    left: 80px;
    bottom: 55px;
    font-size: 20px;
}


/* tu się kończy header */
#content {
    clear: both;
    background-color: silver;
    color: black;
    height: 849px;
    background-color: azure;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}


#intro {
    float: left;
    width: 1000px;
    height: 620px;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    position: relative;
    left: 100px;
    background-color: azure;
    font-family: 'Lato', sans-serif;
}

#linia {
    width: 80%;
    height: 1px;
    background-color: #c5d0d0;
    margin-left: auto;
    margin-right: auto;
    border: 0 none;
    margin-top: 20px;

}

#linia2 {
    width: 600px;
    height: 1px;
    background-color: #c5d0d0;
    border: 0 none;
    transform: rotate(90deg);
    position: relative;
    top: 400px;
    right: 240px;
    margin-left: auto;
    margin-right: auto;
}


#polecane {
    float: left;
    width: 500px;
    height: 400px;
    text-align: left;
    position: relative;
    left: 200px;
    font-size: 26px;
    padding: 20px;
    
}

.lista_z_polecanymi {
    position: relative;
    left: 130px;
    height: 40px;
    border-left: 5px solid #97ffff;
    margin: 7px 0px;
    padding-top: 7px;
    padding-left: 36px;
    background-color: rgb(232, 255, 255);
    list-style: none;
    font-family: 'Montserrat', sans-serif;


}

.lista_z_polecanymi:hover {
    background-color: #97ffff;
    animation-name: expand;
    animation-duration: 1s;
    width: 489px;
}

@keyframes expand {
    from {
        width: 0px;
    }

    to {
        width 489px;
    }
}

.link {
    text-decoration: none;
    color: Black;
}

#info {
    clear: both;
    float: left;
    width: 1000px;
    text-align: right;
    background-color: azure;
    padding: 20px;
    font-size: 30px;
    position: relative;
    left: 100px;
    font-family: 'Lato', sans-serif;

}


#kontakt {
    float: left;
    width: 400px;
    text-align: center;
    background-color: azure;
    position: relative;
    left: 240px;
    font-size: 25px;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}

.kontakty {
    height: 40px;
    position: relative;
    bottom: 7px;
}

/* tu się kończy content */
#footer {
    background-color: #000000;
    color: white;
    clear: both;
    text-align: center;
    height: 40px;
    background-image: url(img/t%C5%82o.PNG);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}
